{% with messages = get_flashed_messages(with_categories=true) %}
  <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
  {% if messages %}
    {% for category, message in messages %}
      <div id="flash-message" class="alert alert-{{ category }} alert-dismissible my-4" role="alert">
        {{ message }}

      </div>
      <script>
        // Add a timeout to remove the flash message after 3 seconds
        setTimeout(function() {
          var flashMessage = document.getElementById('flash-message');
          flashMessage.parentNode.removeChild(flashMessage);
        }, 3000);
      </script>
    {% endfor %}
  {% endif %}
{% endwith %}
