{% extends 'layout.html' %}
{% block body %}
<style>
    .jumbotron {
        background-color: #f8f9fa;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        text-align: center;
        max-width: 800px; /* Adjust the max-width as needed */
        margin: 0 auto; /* Center the jumbotron horizontally */
        zoom:75%;
    }

    .jumbotron h2 {
        color: #206aaa;
        font-weight: bold;
        margin-bottom: 30px;
    }

    .form-group {
        margin-bottom: 20px;
        max-width: 350px; /* Adjust the max-width as needed */
        margin: 0 auto; /* Center the form horizontally */
    }

    .form-control {
        border-radius: 5px;
    }

    .btn-primary {
        background-color: #206aaa;
        border-color: #206aaa;
        border-radius: 5px;
        width: 30%; /* Button width to fill the form */
    }

    .btn-primary:hover {
        background-color: #175d85;
        border-color: #175d85;
    }


</style>

<br><br><br>

{% include 'includes/_flashmsg.html' %}

<div class="row">

        <!-- Content aligned to the left -->
        <div class="jumbotron text-center">
            <h2>Forgot Password</h2>
            <p>Enter your email address below to receive a password reset link.</p>
            <form action="/forgot-password" method="POST">
                <div class="form-group">
                    <input type="email" id="email" name="email" class="form-control" placeholder="Your Email Please" required>
                </div>
                <button type="submit" class="btn btn-primary">Reset Password</button>
            </form>
        </div>
    </div>



{% endblock %}
